body{
  padding: 25px;
}
.title {
	color: #fefae0;
}

.text1 {
  color: #fefae0;
}

.time {
  color: #fefae0;
}

button {
  display: inline-block;
  background-color: #fefae0;
  border-radius: 10px;
  color: #283618;
  
}

.spotifyb {
  font-family
}
